<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1031638640880-un10urgd35id4kl3nj6bj6rr2uiljn6i.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1031638640880-un10urgd35id4kl3nj6bj6rr2uiljn6i</string>
	<key>API_KEY</key>
	<string>AIzaSyB2Oqk88zJwcX3kQVBcV7DbUlOG0G7zLgY</string>
	<key>GCM_SENDER_ID</key>
	<string>1031638640880</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.salvadormarti.IWantAPizza</string>
	<key>PROJECT_ID</key>
	<string>iwantapizza-b536b</string>
	<key>STORAGE_BUCKET</key>
	<string>iwantapizza-b536b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1031638640880:ios:38dfec0786513be69efa35</string>
	<key>DATABASE_URL</key>
	<string>https://iwantapizza-b536b.firebaseio.com</string>
</dict>
</plist>